{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            Modifier étudiant
        </div>

        <div class="card-body">

            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    Enregistrer
                </button>

                <a href="{% url 'etudiant_lmd_list' %}" class="btn btn-secondary">
                    Retour
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}