{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h4 class="mb-0">
                🎓 {{ titre }}
            </h4>

        </div>


        <div class="card-body">


            <form method="POST">

                {% csrf_token %}


                <div class="row">


                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Matricule
                        </label>

                        {{ form.matricule }}

                    </div>



                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Nom
                        </label>

                        {{ form.nom }}

                    </div>



                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Prénoms
                        </label>

                        {{ form.prenoms }}

                    </div>



                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Sexe
                        </label>

                        {{ form.sexe }}

                    </div>



                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Programme Master
                        </label>

                        {{ form.programme }}

                    </div>



                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Niveau
                        </label>

                        {{ form.niveau }}

                    </div>


                </div>



                <div class="mt-3">

                    <button 
                        type="submit"
                        class="btn btn-success">

                        💾 Enregistrer

                    </button>


                    <a href="{% url 'master_etudiant_list' %}"
                       class="btn btn-secondary">

                        Retour

                    </a>

                </div>


            </form>


        </div>

    </div>


</div>


{% endblock %}