# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environnement virtuel
# =========================
venv/
env/
.venv/

# =========================
# Variables d'environnement
# =========================
.env

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/

# =========================
# Fichiers PDF générés
# =========================
*.pdf

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Cache de tests
# =========================
.pytest_cache/
.coverage
htmlcov/