{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Ajouter une Filière BTS</h5>
        </div>

        <div class="card-body">

            <form method="post">
                {% csrf_token %}

                <!-- Nom de la filière -->
                <div class="mb-3">
                    <label class="form-label">
                        Nom de la filière
                    </label>

                    <input type="text" name="nom" class="form-control"
                        placeholder="Ex : Informatique Développeur d'Application" required>
                </div>

                <!-- Niveaux -->
                <!-- Niveau -->
                <div class="mb-3">
                    <label class="form-label">
                        Niveau
                    </label>

                    <input type="text" name="niveau" class="form-control" placeholder="Ex : BTS 1" required>
                </div>

                <button type="submit" class="btn btn-success">
                    Enregistrer
                </button>

                <a href="{% url 'liste_filieres_bts' %}" class="btn btn-secondary">
                    Retour
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}