{% extends "base.html" %}


{% block content %}


<div class="container mt-5">


    <div class="card shadow border-0">


        <div class="card-header bg-success text-white">

            <h4 class="mb-0">

                <i class="bi bi-file-earmark-excel"></i>

                Importer les étudiants - Droit Privé

            </h4>

        </div>

        <div class="mb-3">

            <a href="{% url 'l3_droit_etudiant_modele_excel' %}"
               class="btn btn-outline-success">
            
                <i class="bi bi-download"></i>
            
                Télécharger modèle Excel
            
            </a>
            
            </div>

        <div class="card-body">


            <form method="post"
                  enctype="multipart/form-data">


                {% csrf_token %}


                <div class="mb-3">


                    <label class="form-label fw-bold">

                        Fichier Excel (.xlsx)

                    </label>


                    <input type="file"
                           name="fichier"
                           class="form-control"
                           accept=".xlsx"
                           required>


                </div>



                <button type="submit"
                        class="btn btn-success">


                    <i class="bi bi-upload"></i>

                    Importer


                </button>



                <a href="{% url 'droit_prive_etudiants' %}"
                   class="btn btn-secondary">


                    Retour


                </a>


            </form>


        </div>


    </div>


</div>


{% endblock %}