{% load static %}

<div class="sidebar">

    <!-- LOGO -->
    <div class="sidebar-brand">
        <img src="{% static 'logo.jpeg' %}" alt="UIC" class="logo-sidebar">

        <div>
            <h5>UIC-Abidjan</h5>
            <small>Gestion Académique</small>
        </div>
    </div>


    <!-- DASHBOARD -->
    <a href="{% url 'dashboard' %}" 
       class="menu-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>



{% if request.user.is_authenticated %}



{% if request.user.profile.role == "ADMIN" %}


<!-- ================= BTS ================= -->

<div class="menu-title">
    <i class="bi bi-mortarboard"></i>
    Système BTS
</div>


<a href="{% url 'etudiant_list' %}" class="menu-link">
    <i class="bi bi-people"></i>
    Étudiants
</a>


<a href="{% url 'matiere_list' %}" class="menu-link">
    <i class="bi bi-book"></i>
    Matières
</a>


<a href="{% url 'note_list' %}" class="menu-link">
    <i class="bi bi-pencil-square"></i>
    Notes
</a>


<a href="{% url 'saisie_note_groupee' %}" class="menu-link">
    <i class="bi bi-grid"></i>
    Saisie groupée
</a>


<a href="{% url 'classe_list' %}" class="menu-link">
    <i class="bi bi-building"></i>
    Classes
</a>


<a href="{% url 'salle_list' %}" class="menu-link">
    <i class="bi bi-door-open"></i>
    Salles
</a>


<a href="{% url 'liste_filieres_bts' %}" class="menu-link">
    <i class="bi bi-diagram-3"></i>
    Filières BTS
</a>


<a href="{% url 'bulletin_list' %}" class="menu-link">
    <i class="bi bi-file-earmark-pdf"></i>
    Bulletins BTS
</a>




<!-- ================= LMD ================= -->


<div class="menu-title mt-3">
    <i class="bi bi-mortarboard-fill"></i>
    Système LMD
</div>



<a href="{% url 'filiereLMD_list' %}" class="menu-link">
    <i class="bi bi-bank"></i>
    Filières LMD
</a>


<a href="{% url 'etudiant_lmd_list' %}" class="menu-link">
    <i class="bi bi-person-badge"></i>
    Étudiants LMD
</a>


<a href="{% url 'ue_list' %}" class="menu-link">
    <i class="bi bi-journal-text"></i>
    UE
</a>


<a href="{% url 'ecue_list' %}" class="menu-link">
    <i class="bi bi-journals"></i>
    ECUE
</a>


<a href="{% url 'note_lmd_list' %}" class="menu-link">
    <i class="bi bi-pencil"></i>
    Notes LMD
</a>


<a href="{% url 'saisie_list' %}" class="menu-link">
    <i class="bi bi-calculator"></i>
    Saisie notes ECUE
</a>


<a href="{% url 'bulletin_lmd_list' %}" class="menu-link">
    <i class="bi bi-file-earmark-check"></i>
    Bulletins LMD
</a>



{% elif request.user.profile.role == "PROF" %}



<div class="menu-title">
    <i class="bi bi-person-workspace"></i>
    Professeur
</div>


<a href="{% url 'note_list' %}" class="menu-link">
    <i class="bi bi-pencil"></i>
    Saisie Notes
</a>


<a href="{% url 'note_lmd_list' %}" class="menu-link">
    <i class="bi bi-journal"></i>
    Notes LMD
</a>



{% elif request.user.profile.role == "ETUD" %}



<div class="menu-title">
    <i class="bi bi-person"></i>
    Étudiant
</div>


<a href="{% url 'dashboard_etudiant' %}" class="menu-link">
    <i class="bi bi-house"></i>
    Tableau de bord
</a>


<a href="{% url 'bulletin_etudiant' %}" class="menu-link">
    <i class="bi bi-file-pdf"></i>
    Mes bulletins
</a>



{% endif %}



<!-- COMPTE -->

<div class="menu-title mt-3">
    <i class="bi bi-gear"></i>
    Compte
</div>


<a href="{% url 'logout' %}" class="menu-link logout">
    <i class="bi bi-box-arrow-right"></i>
    Déconnexion
</a>



{% endif %}


</div>