{% load static %}

<style>
    .accordion-button {
        color: #fff;
        font-weight: 600;
    }

    .accordion-button:not(.collapsed) {
        background: rgba(255, 255, 255, .08);
        color: #fff;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .menu-subtitle {
        color: #adb5bd;
        font-size: 13px;
        padding: 8px 15px;
        font-weight: 600;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        let currentUrl = window.location.pathname;

        document.querySelectorAll(".menu-link").forEach(function (link) {

            if (link.href.includes(currentUrl)) {
                link.classList.add("active");
            }

        });

    });


    
</script>



<div class="sidebar">


    <!-- ================= LOGO ================= -->

    <div class="sidebar-brand">

        <img src="{% static 'logo.jpeg' %}" class="logo-sidebar" alt="UIC">

        <div>
            <h5>UIC-Abidjan</h5>
            <small>Gestion Académique</small>
        </div>

    </div>



    <!-- ================= DASHBOARD ================= -->

    <a href="{% url 'dashboard' %}" class="menu-link">

        <i class="bi bi-speedometer2"></i>
        Dashboard

    </a>




    {% if request.user.is_authenticated %}


    {% if request.user.profile.role == "ADMIN" %}





    <!-- ================================================= -->
    <!-- ===================== BTS ======================= -->
    <!-- ================================================= -->


    <div class="menu-title mt-3">

        <i class="bi bi-mortarboard"></i>

        Système BTS

    </div>



    <a href="{% url 'etudiant_list' %}" class="menu-link">
        <i class="bi bi-people"></i>
        Étudiants
    </a>


    <a href="{% url 'matiere_list' %}" class="menu-link">
        <i class="bi bi-book"></i>
        Matières
    </a>


    <a href="{% url 'note_list' %}" class="menu-link">
        <i class="bi bi-pencil-square"></i>
        Notes
    </a>


    <a href="{% url 'saisie_note_groupee' %}" class="menu-link">

        <i class="bi bi-grid"></i>

        Saisie groupée

    </a>



    <a href="{% url 'classe_list' %}" class="menu-link">

        <i class="bi bi-building"></i>

        Classes

    </a>


    <a href="{% url 'salle_list' %}" class="menu-link">

        <i class="bi bi-door-open"></i>

        Salles

    </a>


    <a href="{% url 'liste_filieres_bts' %}" class="menu-link">

        <i class="bi bi-diagram-3"></i>

        Filières BTS

    </a>



    <a href="{% url 'bulletin_list' %}" class="menu-link">

        <i class="bi bi-file-earmark-pdf"></i>

        Bulletins BTS

    </a>






    <!-- ================================================= -->
    <!-- ===================== LMD ======================= -->
    <!-- ================================================= -->

    <!-- ================================================= -->
    <!-- ===================== LMD ======================= -->
    <!-- ================================================= -->


    <div class="accordion accordion-flush mt-4" id="accordionSidebar">


        <div class="accordion-item bg-transparent border-0">


            <h2 class="accordion-header">

                <button class="accordion-button collapsed bg-transparent text-white shadow-none p-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#lmd">

                    <i class="bi bi-bank me-2"></i>

                    Formation LMD

                </button>

            </h2>



            <div id="lmd" class="accordion-collapse collapse">


                <div class="accordion-body p-0">


                    <!-- ================================= -->
                    <!-- LICENCE GENERALE L1-L2 -->
                    <!-- ================================= -->


                    <!-- <div class="menu-subtitle">

                        📖 Licence Générale (L1 - L2)

                    </div> -->



                    <!-- <a href="{% url 'filiereLMD_list' %}" class="menu-link">

                        <i class="bi bi-diagram-3"></i>

                        Filières L1-L2

                    </a> -->


<!-- 
                    <a href="{% url 'etudiant_lmd_list' %}" class="menu-link">

                        <i class="bi bi-person-badge"></i>

                        Étudiants L1-L2

                    </a> -->



                    <!-- <a href="{% url 'ue_list' %}" class="menu-link">

                        <i class="bi bi-journal-text"></i>

                        UE / ECUE

                    </a> -->



                    <!-- <a href="{% url 'saisie_list' %}" class="menu-link">

                        <i class="bi bi-calculator"></i>

                        Saisie Notes L1-L2

                    </a> -->



                    <!-- <a href="{% url 'bulletin_lmd_list' %}" class="menu-link">

                        <i class="bi bi-file-earmark-pdf"></i>

                        Bulletins L1-L2

                    </a> -->

                    <!-- ================================= -->
                    <!-- TRONC COMMUN L1-L2 -->
                    <!-- ================================= -->


                    <div class="menu-subtitle mt-3">

                        🏛️ Tronc Commun L1 - L2

                    </div>



                    <a href="{% url 'tronc_commun_etudiants' %}" class="menu-link">

                        <i class="bi bi-people-fill"></i>

                        Étudiants Tronc Commun

                    </a>

                    <a href="{% url 'tronc_commun_ue' %}" class="menu-link">

                        <i class="bi bi-journal-text"></i>

                        UE / ECUE Tronc Commun

                    </a>


                    <a href="{% url 'tronc_commun_notes' %}" class="menu-link">

                        <i class="bi bi-pencil-square"></i>

                        Saisie Notes Tronc Commun

                    </a>



                    <a href="{% url 'bulletin_tronc_commun_list' %}" class="menu-link">

                        <i class="bi bi-file-earmark-pdf"></i>

                        Bulletins Tronc Commun

                    </a>





                    <!-- ================================= -->
                    <!-- LICENCE PROFESSIONNELLE L3 -->
                    <!-- ================================= -->


                    <!-- ================================= -->
                    <!-- LICENCE PROFESSIONNELLE L3 -->
                    <!-- ================================= -->


                    <div class="menu-subtitle mt-3">

                        🎓 Licence Professionnelle (L3)

                    </div>



                    <!-- =============== DROIT PRIVE =============== -->


                    <div class="menu-subtitle">

                        ⚖️ Droit Privé

                    </div>


                    <a href="{% url 'l3_droit_dashboard' %}" class="menu-link">

                        <i class="bi bi-speedometer2"></i>

                        Tableau de bord

                    </a>


                    <a href="{% url 'l3_droit_etudiants' %}" class="menu-link">

                        <i class="bi bi-people"></i>

                        Étudiants

                    </a>


                    <a href="{% url 'l3_droit_ue' %}" class="menu-link">

                        <i class="bi bi-journal-text"></i>

                        UE / ECUE

                    </a>


                    <a href="{% url 'l3_droit_notes' %}" class="menu-link">

                        <i class="bi bi-pencil-square"></i>

                        Saisie Notes

                    </a>


                    <a href="{% url 'l3_droit_bulletins' %}" class="menu-link">

                        <i class="bi bi-file-earmark-pdf"></i>

                        Bulletins

                    </a>





                    <!-- =============== SCIENCES DE GESTION =============== -->


                    <div class="menu-subtitle mt-3">

                        📊 Sciences de Gestion

                    </div>


                    <a href="{% url 'l3_gestion_dashboard' %}" class="menu-link">

                        <i class="bi bi-speedometer2"></i>

                        Tableau de bord

                    </a>


                    <a href="{% url 'l3_gestion_etudiants' %}" class="menu-link">

                        <i class="bi bi-people"></i>

                        Étudiants

                    </a>


                    <a href="{% url 'l3_gestion_ue_list' %}" class="menu-link">

                        <i class="bi bi-journal-text"></i>

                        UE / ECUE

                    </a>

                    <a href="{% url 'l3_gestion_notes' %}" class="menu-link">

                        <i class="bi bi-pencil-square"></i>

                        Saisie Notes

                    </a>


                    <a href="{% url 'liste_bulletins_gestion' %}" class="menu-link">

                        📑 Bulletins Sciences de Gestion

                    </a>

              

                    <!-- =============== MANAGEMENT QHSE =============== -->


                    <div class="menu-subtitle mt-3">

                        🦺 Management QHSE

                    </div>



                    <a href="{% url 'l3_qhse_dashboard' %}" class="menu-link">

                        <i class="bi bi-speedometer2"></i>

                        Tableau de bord

                    </a>



                    <a href="{% url 'l3_qhse_etudiants' %}" class="menu-link">

                        <i class="bi bi-people"></i>

                        Étudiants

                    </a>



                    <a href="{% url 'l3_qhse_ue' %}" class="menu-link">

                        <i class="bi bi-journal-text"></i>

                        UE / ECUE

                    </a>



                    <a href="{% url 'l3_qhse_notes' %}" class="menu-link">

                        <i class="bi bi-pencil-square"></i>

                        Saisie Notes

                    </a>



                    <a href="{% url 'l3_qhse_bulletins' %}" class="menu-link">

                        <i class="bi bi-file-earmark-pdf"></i>

                        Bulletins QHSE

                    </a>

                    <!-- ================================= -->
                    <!-- MASTER M1 - M2 -->
                    <!-- ================================= -->

                    <div class="menu-subtitle mt-4">

                        🎓 Master (M1 - M2)

                    </div>



                    <!-- ================= M1 ================= -->


                    <div class="menu-subtitle">

                        📘 Master (M1, M2)

                    </div>



                    <a href="{% url 'master_dashboard' %}" class="menu-link">

                        <i class="bi bi-speedometer2"></i>

                        Tableau de bord 

                    </a>



                    <a href="{% url 'master_etudiant_list' %}" class="menu-link">

                        <i class="bi bi-people"></i>

                        Étudiants Master

                    </a>



                    <a href="{% url 'master_ue_list' %}" class="menu-link">

                        <i class="bi bi-journal-text"></i>

                        UE / ECUE Master

                    </a>



                    <a href="{% url 'master_saisie_notes' %}" class="menu-link">

                        <i class="bi bi-pencil-square"></i>

                        Saisie Notes Master

                    </a>



                    <a href="{% url 'master_bulletin_list' %}" class="menu-link">

                        <i class="bi bi-file-earmark-pdf"></i>

                        Bulletins Master

                    </a>






                    <!-- ================= M2 ================= -->

<!-- 
                    <div class="menu-subtitle mt-3">

                        📗 Master 2 (M2)

                    </div> -->




                    <!-- <a href="{% url 'master_dashboard' %}?niveau=M2" class="menu-link">

                        <i class="bi bi-speedometer2"></i>

                        Tableau de bord M2

                    </a> -->




                    <!-- <a href="{% url 'master_etudiant_list' %}?niveau=M2" class="menu-link">

                        <i class="bi bi-people"></i>

                        Étudiants M2

                    </a> -->




                    <!-- <a href="{% url 'master_ue_list' %}?niveau=M2" class="menu-link">

                        <i class="bi bi-journal-text"></i>

                        UE / ECUE M2

                    </a> -->




                    <!-- <a href="{% url 'master_saisie_notes' %}?niveau=M2" class="menu-link">

                        <i class="bi bi-pencil-square"></i>

                        Saisie Notes M2

                    </a> -->



<!-- 
                    <a href="{% url 'master_bulletin_list' %}?niveau=M2" class="menu-link">

                        <i class="bi bi-file-earmark-pdf"></i>

                        Bulletins M2

                    </a> -->






                    <!-- ================= FILIERES ================= -->


                    <div class="menu-subtitle mt-3">

                        📚 Programmes Master

                    </div>




                    <a href="{% url 'master_filiere_list' %}" class="menu-link">

                        <i class="bi bi-diagram-3"></i>

                        Gestion des Filières

                    </a>




                    <!-- DROIT -->

                    <div class="menu-subtitle">

                        ⚖️ Droit Privé

                    </div>


                    <a href="{% url 'master_dashboard' %}?filiere=droit" class="menu-link">

                        <i class="bi bi-bank"></i>

                        Master Droit Privé

                    </a>





                    <!-- GESTION -->


                    <div class="menu-subtitle">

                        📊 Sciences de Gestion

                    </div>


                    <a href="{% url 'master_dashboard' %}?filiere=gestion" class="menu-link">

                        <i class="bi bi-graph-up"></i>

                        Master Sciences de Gestion

                    </a>






                    <!-- QHSE -->


                    <div class="menu-subtitle">

                        🦺 Management QHSE

                    </div>


                    <a href="{% url 'master_dashboard' %}?filiere=qhse" class="menu-link">

                        <i class="bi bi-shield-check"></i>

                        Master QHSE

                    </a>




                    <!-- ================================= -->
                    <!-- RATTRAPAGE -->
                    <!-- ================================= -->


                    <div class="menu-subtitle mt-4">

                        🔄 Gestion des Rattrapages

                    </div>



                    <a href="{% url 'rattrapage_liste' %}" class="menu-link">


                        <i class="bi bi-list-check"></i>

                        Candidats rattrapage


                    </a>



                    <a href="{% url 'saisie_rattrapage' %}" class="menu-link">


                        <i class="bi bi-pencil-square"></i>

                        Saisie rattrapage


                    </a>



                    <a href="{% url 'deliberation_rattrapage' %}" class="menu-link">


                        <i class="bi bi-check-circle"></i>

                        Délibération


                    </a>



                    <a href="{% url 'bulletin_rattrapage_list' %}" class="menu-link">


                        <i class="bi bi-file-earmark-pdf"></i>

                        Bulletins rattrapage


                    </a>


                </div>


            </div>

        </div>

    </div>





    <!-- ================================================= -->
    <!-- ===================== PROF ====================== -->
    <!-- ================================================= -->


    {% elif request.user.profile.role == "PROF" %}



    <div class="menu-title">

        <i class="bi bi-person-workspace"></i>

        Professeur

    </div>



    <a href="{% url 'note_list' %}" class="menu-link">

        <i class="bi bi-pencil"></i>

        Saisie Notes BTS

    </a>



    <a href="{% url 'note_lmd_list' %}" class="menu-link">

        <i class="bi bi-journal"></i>

        Notes LMD

    </a>



    <a href="{% url 'saisie_rattrapage' %}" class="menu-link">

        <i class="bi bi-arrow-repeat"></i>

        Rattrapage

    </a>




    <!-- ================================================= -->
    <!-- ===================== ETUDIANT ================== -->
    <!-- ================================================= -->


    {% elif request.user.profile.role == "ETUD" %}



    <div class="menu-title">

        <i class="bi bi-person"></i>

        Étudiant

    </div>




    <a href="{% url 'dashboard_etudiant' %}" class="menu-link">

        <i class="bi bi-house"></i>

        Tableau de bord

    </a>




    <a href="{% url 'bulletin_etudiant' %}" class="menu-link">

        <i class="bi bi-file-pdf"></i>

        Mes bulletins

    </a>




    {% endif %}






    <!-- ================= COMPTE ================= -->


    <div class="menu-title mt-4">

        <i class="bi bi-gear"></i>

        Compte

    </div>




    <a href="{% url 'logout' %}" class="menu-link logout">


        <i class="bi bi-box-arrow-right"></i>

        Déconnexion


    </a>




    {% endif %}



</div>