{% extends "base.html" %}


{% block content %}


<div class="container mt-4">


<h2>
📊 Licence Professionnelle L3 - Sciences de Gestion
</h2>



<div class="row">


<div class="col-md-3">

<div class="card p-3">

<h5>
Étudiants
</h5>

<p>
Gestion des étudiants
</p>

</div>

</div>



<div class="col-md-3">

<div class="card p-3">

<h5>
UE / ECUE
</h5>

<p>
Programme Gestion
</p>

</div>

</div>



<div class="col-md-3">

<div class="card p-3">

<h5>
Notes
</h5>

<p>
Saisie notes
</p>

</div>

</div>


</div>


</div>


{% endblock %}