{% extends "base.html" %}


{% block content %}

<div class="container mt-4">

<h2>
🎓 Gestion Master M1 - M2
</h2>


<div class="row mt-4">


<div class="col-md-4">

<div class="card p-3">

<h5>
Filières Master
</h5>

<p>
Gestion des formations Master.
</p>

</div>

</div>



<div class="col-md-4">

<div class="card p-3">

<h5>
Étudiants
</h5>

<p>
Gestion des étudiants Master.
</p>

</div>

</div>



<div class="col-md-4">

<div class="card p-3">

<h5>
Notes
</h5>

<p>
Saisie et validation des notes.
</p>

</div>

</div>


</div>


</div>


{% endblock %}